<p>
    Information about access to the collection or service, including
    access restrictions or embargoes based on privacy, security or
    other policies. A URL is optional.
</p>
<p>eg. Contact Chief Investigator to negotiate access to the data.</p>
<p>eg. Embargoed until 1 year after publication of the research.</p>