<p>Record names of the creators.</p>
<ul>
    <li>
        Enter the given name and/or family name of persons who created
        the research dataset/collection, registry/repository, catalogue
        or index. Click 'lookup' to search and select the name authority
        record.
    </li>
    <li>Select the persons' appropriate affiliation.</li>
    <li>
        Indicate persons with roles of 'Chief Investigator' or 'Partner
        Investigator' by checking the boxes provided.
    </li>
</ul>