Geospatial location relevant to the research dataset/collection,
registry/repository, catalogue or index. This may describe a
geographical area where data was collected, a place which is the
subject of a collection, or a location which is the focus of an
activity, eg. coordinates or placename.