<p>
    Description of the research dataset/collection, registry/repository,
    catalogue or index.
</p>
<p>This should include:</p>
<ul>
    <li>
        information about the research dataset/collection,
        registry/repository, catalogue or index, including its
        characteristics and features, eg. This dataset contains
        observational data, calibration files and catalogue information
        collected from the Mount Stromlo Observatory Facility.
    </li>
    <li>
        if applicable: the scope; details of entities being studied or
        recorded; methodologies used.
    </li>
</ul>