Information about rights held in and over the collection such as
copyright, licences and other intellectual property rights, eg. This
dataset is made available under the Public Domain Dedication and
License v1.0 whose full text can be found at:
<a target="_blank" href="http://www.opendatacommons.org/licences/pddl/1.0/">
    http://www.opendatacommons.org/licences/pddl/1.0/
</a>
<br/>A URI is optional.