The title for the research dataset/collection, registry/repository,
catalogue or index. It is recommended for datasets and collections, the
title should be unique to the data, ie. do not use the publication title
as the data title.