<ul>
<li>Enter details of projects that have generated or used the data.</li>
<li>Enter the funder&apos;s grant number and choose the appropriate project from the
	drop down list. If the project is internally funded, use the Internal tick box.</li>
<li>Use the &apos;Add grant&apos; button to list multiple grants.</li>
</ul>